* {
    margin: 0;
    padding: 0;
}

body {
    background: #f4f4f4;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.customPanel {
    height: 60px;
    background: #3a3d41;
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-evenly;
    z-index: 100;

}

.tShirt {
    width: 100%;
}

.allTshirt {
    position: absolute;
    top: 43%;
    left: 50%;
    width: 95%;
    max-width: 400px;
    transform: translate(-50%, -50%);
}






.tShirtContainerFront {
    z-index: 10;
}

.tShirtContainerBack {
    z-index: 1;
}



#SelectBackFront {
    position: fixed;
    bottom: 120px;
    left: 50%;
    transform: translate(-50%);
    width: 110px;
    display: flex;
    justify-content: space-between;
    z-index: 200;
}

.PanelOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 5px;
    cursor: pointer;


}

.canvasContainerF {
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    z-index: 11;
    margin-bottom: 30px;

}

.canvasContainerB {
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin-bottom: 30px;

}

select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style pour le bouton de couleur */
input[type="color"] {
    padding: 0;
    border: none;
    cursor: pointer;
    height: 28px;
    width: 28px;
}

#toggleDiv {

    bottom: 60px;
    background: #727272;
    width: 100%;
    height: auto;
    position: fixed;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-evenly;

}

#couleur {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#addText {
    display: flex;
    cursor: pointer;
}

#CWhite {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 1000px;
    border: solid 3px black;
    margin: 8px;
    cursor: pointer;
}

#Cblack {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 1000px;
    margin: 8px;
    cursor: pointer;

}

#CGrey {
    width: 30px;
    height: 30px;
    background-color: #7f8f9e;
    border-radius: 1000px;
    margin: 8px;
    cursor: pointer;
}

.customPanel img {
    width: 20px;
}

#Text {

    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 30%;
    display: none;
    margin-top: 20px;
    width: 100%;
    margin: 4px;
}

select#fontSelector {
    width: 90%;
}

@media (min-width:800px) {
    .customPanel {
        width: 70px;
        background: #3a3d41;
        height: 100%;
        position: fixed;
        left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    #toggleDiv {
        bottom: 0;

        left: 70px;
        background: #727272;
        height: 100%;
        position: fixed;
        width: 150px;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: space-evenly;

    }

    #Text {

        justify-content: space-between;
        flex-direction: column;
        height: 30%;
        display: none;
        margin-left: 10px;
        position: absolute;
        top: 5px;
    }

    #couleur {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #SelectBackFront img {
        width: 40px;
    }

    #SelectBackFront {
        position: fixed;
        bottom: 80px;
        left: 50%;
        transform: translate(-50%);
        width: 110px;
        display: flex;
        justify-content: space-between;
        z-index: 200;
    }



}

#ProduitOption {
    background: #727272;
}


/* styles.css */
#fontSelector {
    font-family: Arial, sans-serif;
    /* Police par défaut */
}


#fontSelector option[value="Georgia, serif"] {
    font-family: Georgia, serif;
}

#fontSelector option[value="Times New Roman, serif"] {
    font-family: "Times New Roman", serif;
}

#fontSelector option[value="Courier New, monospace"] {
    font-family: "Courier New", monospace;
}

#fontSelector option[value="Comic Sans MS, cursive"] {
    font-family: "Comic Sans MS", cursive;
}

#fontSelector option[value="Verdana, sans-serif"] {
    font-family: Verdana, sans-serif;
}

#fontSelector option[value="Brush Script MT, cursive"] {
    font-family: "Brush Script MT", cursive;
}

#fontSelector option[value="Papyrus, fantasy"] {
    font-family: "Papyrus", fantasy;
}

#valider {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    width: 60px;
    border-radius: 100px;
    background: #3a3d41;
    cursor: pointer;
}