{% extends 'base.html.twig' %}

{% block title %}Compte
{% endblock %}

{% block content %}
	<h1>Modifier mon mots de passe</h1>
	<hr>
	<a href="{{ path('compte') }}">Retoutner a mon compte =></a><br>

	<hr>
	{% if notif %}
		<div class="alert  {{ warning ? " alert-danger" : " alert-success" }}" role="alert">
			{{notif}}
		</div>
	{% endif %}

	{{form(form)}}
		<hr>
	{% endblock %}
